# LEVEL 1: BASIC

## TASK 1: DATA CLEANING AND PREPROCESSING

### OBJECTIVE:
1. Load the dataset using pandas.
2. Identify and handle missing values(e.g: Imputation or removal)
3. Remove duplicate rows & standardize inconsistent data formats.

#### 1. IMPORTING LIBRARIES

In [5]:
import pandas as pd 
import numpy as np

#### 2. READING THE CSV FILE

In [7]:
iris=pd.read_csv('iris.csv')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#### 3. CHECKING FOR NULL VALUE

In [10]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

#### 4. VERIFYING THE DATATYPES

In [12]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [13]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

#### 5. CHECKING FOR UNIQUE VALUES

In [15]:
for i in iris.columns:
    print(i,':','\n',iris[i].unique())

sepal_length :
 [5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
sepal_width :
 [3.5 3.  3.2 3.1 3.6 3.9 3.4 2.9 3.7 4.  4.4 3.8 3.3 4.1 4.2 2.3 2.8 2.4
 2.7 2.  2.2 2.5 2.6]
petal_length :
 [1.4 1.3 1.5 1.7 1.6 1.1 1.2 1.  1.9 4.7 4.5 4.9 4.  4.6 3.3 3.9 3.5 4.2
 3.6 4.4 4.1 4.8 4.3 5.  3.8 3.7 5.1 3.  6.  5.9 5.6 5.8 6.6 6.3 6.1 5.3
 5.5 6.7 6.9 5.7 6.4 5.4 5.2]
petal_width :
 [0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3]
species :
 ['setosa' 'versicolor' 'virginica']

#### 6. DESCRIBING THE DATASET

In [17]:
iris.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.054000      3.758667     1.198667     NaN
std         0.828066     0.433594      1.764420     0.763161     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

#### 7. DATASET INFO

In [19]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#### 8. ENCODING THE CATEGORICAL VALUES(LABEL ENCODER)
- We use label encoder to encode categorical values into numerical values.
- ML models cannot work with text values, so they can work on;y with numerical values.

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le=LabelEncoder()
iris['species']=le.fit_transform(iris['species'])

In [23]:
iris['species'].unique()

array([0, 1, 2])

#### 9. STANDARDIZE THE INCONSISTENT DATA
- Standard scaler is used to standardize the numerical feature that have mean=0 and standard deviation=1.
- It ensures that each feature contributes equally.
- It helps to prevent features with larger ranges from dominating other features.

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc=StandardScaler()
numeric_column=iris[['sepal_length','sepal_width','petal_length','petal_width']]
iris_scaled=sc.fit_transform(numeric_column)

In [27]:
iris_f=pd.DataFrame(iris_scaled,columns=numeric_column.columns,index=numeric_column.index)

In [28]:
iris_f.head()

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

#### 10. FINAL CLEANED DATA SET

In [30]:
iris_final=pd.concat([iris['species'],iris_f],axis=1)

In [31]:
iris_final.to_csv('Cleaned Iris DataSet.csv',index=False)
print(iris_final)

     species  sepal_length  sepal_width  petal_length  petal_width
0          0     -0.900681     1.032057     -1.341272    -1.312977
1          0     -1.143017    -0.124958     -1.341272    -1.312977
2          0     -1.385353     0.337848     -1.398138    -1.312977
3          0     -1.506521     0.106445     -1.284407    -1.312977
4          0     -1.021849     1.263460     -1.341272    -1.312977
..       ...           ...          ...           ...          ...
145        2      1.038005    -0.124958      0.819624     1.447956
146        2      0.553333    -1.281972      0.705893     0.922064
147        2      0.795669    -0.124958      0.819624     1.053537
148        2      0.432165     0.800654      0.933356     1.447956
149        2      0.068662    -0.124958      0.762759     0.790591

[150 rows x 5 columns]