## TASK 1: DATA CLEANING AND PREPROCESSING

### OBJECTIVE:
1. Load the dataset using pandas.
2. Identify and handle missing values(e.g: Imputation or removal)
3. Remove duplicate rows & standardize inconsistent data formats.

#### 1. IMPORTING LIBRARIES

In [4]:
import numpy as np 
import pandas as pd

#### 2. READING THE CSV FILE

In [6]:
stock=pd.read_csv('Stock Prices Data Set.csv')
print(stock)

       symbol        date      open      high       low     close    volume
0         AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1        AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2         AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3        ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4         ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391
...       ...         ...       ...       ...       ...       ...       ...
497467    XYL  2017-12-29   68.5300   68.8000   67.9200   68.2000   1046677
497468    YUM  2017-12-29   82.6400   82.7100   81.5900   81.6100   1347613
497469    ZBH  2017-12-29  121.7500  121.9500  120.6200  120.6700   1023624
497470   ZION  2017-12-29   51.2800   51.5500   50.8100   50.8300   1261916
497471    ZTS  2017-12-29   72.5500   72.7600   72.0400   72.0400   1704122

[497472 rows x 7 columns]

#### 3. CHECKING FOR NULL VALUES

In [8]:
stock.isnull().sum()

symbol     0
date       0
open      11
high       8
low        8
close      0
volume     0
dtype: int64

#### HERE THERE ARE NULL VALUES SO WE WILL IMPUTE THEIR MEAN.

In [10]:
stock.describe(include='all')

,symbol,date,open,high,low,close,volume
count,497472,497472,497461.000000,497464.000000,497464.000000,497472.000000,4.974720e+05
unique,505,1007,NaN,NaN,NaN,NaN,NaN
top,AAL,2017-12-29,NaN,NaN,NaN,NaN,NaN
freq,1007,505,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,86.352275,87.132562,85.552467,86.369082,4.253611e+06
std,NaN,NaN,101.471228,102.312062,100.570957,101.472407,8.232139e+06
min,NaN,NaN,1.620000,1.690000,1.500000,1.590000,0.000000e+00
25%,NaN,NaN,41.690000,42.090000,41.280000,41.703750,1.080166e+06
50%,NaN,NaN,64.970000,65.560000,64.353700,64.980000,2.084896e+06
75%,NaN,NaN,98.410000,99.230000,97.580000,98.420000,4.271928e+06
max,NaN,NaN,2044.000000,2067.990000,2035.110000,2049.000000,6.182376e+08

In [11]:
stock['open']=stock['open'].fillna('86.352275')

In [12]:
stock['high']=stock['high'].fillna('87.132562')

In [13]:
stock['low']=stock['low'].fillna('85.552467')

In [14]:
stock.isnull().sum()

symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

#### 4. VERIFYING THEIR DATATYPES

In [16]:
stock.dtypes

symbol     object
date       object
open       object
high       object
low        object
close     float64
volume      int64
dtype: object

#### 5. CHECKING THE UNIQUE VALUES

In [18]:
for i in stock.columns:
    print(i,':','\n',stock[i].unique())

symbol :
 ['AAL' 'AAPL' 'AAP' 'ABBV' 'ABC' 'ABT' 'ACN' 'ADBE' 'ADI' 'ADM' 'ADP'
 'ADSK' 'ADS' 'AEE' 'AEP' 'AES' 'AET' 'AFL' 'AGN' 'AIG' 'AIV' 'AIZ' 'AJG'
 'AKAM' 'ALB' 'ALGN' 'ALK' 'ALLE' 'ALL' 'ALXN' 'AMAT' 'AMD' 'AME' 'AMGN'
 'AMG' 'AMP' 'AMT' 'AMZN' 'ANDV' 'ANSS' 'ANTM' 'AON' 'AOS' 'APA' 'APC'
 'APD' 'APH' 'ARE' 'ARNC' 'ATVI' 'AVB' 'AVGO' 'AVY' 'AWK' 'AXP' 'AYI'
 'AZO' 'A' 'BAC' 'BAX' 'BA' 'BBT' 'BBY' 'BDX' 'BEN' 'BF.B' 'BIIB' 'BK'
 'BLK' 'BLL' 'BMY' 'BRK.B' 'BSX' 'BWA' 'BXP' 'CAG' 'CAH' 'CAT' 'CA' 'CBG'
 'CBOE' 'CBS' 'CB' 'CCI' 'CCL' 'CDNS' 'CELG' 'CERN' 'CF' 'CHD' 'CHK'
 'CHRW' 'CHTR' 'CINF' 'CI' 'CLX' 'CL' 'CMA' 'CMCSA' 'CME' 'CMG' 'CMI'
 'CMS' 'CNC' 'CNP' 'COF' 'COG' 'COL' 'COO' 'COP' 'COST' 'COTY' 'CPB' 'CRM'
 'CSCO' 'CSX' 'CTAS' 'CTL' 'CTSH' 'CTXS' 'CVS' 'CVX' 'CXO' 'C' 'DAL' 'DE'
 'DFS' 'DGX' 'DG' 'DHI' 'DHR' 'DISCA' 'DISCK' 'DISH' 'DIS' 'DLR' 'DLTR'
 'DOV' 'DPS' 'DRE' 'DRI' 'DTE' 'DUK' 'DVA' 'DVN' 'D' 'EA' 'EBAY' 'ECL'
 'ED' 'EFX' 'EIX' 'EL' 'EMN' 'EMR' 'EOG' 'EQIX' 'EQR' 'EQT' 'ESRX' 'ESS'
 'ES' 'ETFC' 'ETN' 'ETR' 'EW' 'EXC' 'EXPD' 'EXPE' 'EXR' 'FAST' 'FBHS' 'FB'
 'FCX' 'FDX' 'FE' 'FFIV' 'FISV' 'FIS' 'FITB' 'FLIR' 'FLR' 'FLS' 'FL' 'FMC'
 'FOXA' 'FOX' 'FRT' 'FTI' 'F' 'GD' 'GE' 'GGP' 'GILD' 'GIS' 'GLW' 'GM'
 'GOOGL' 'GPC' 'GPN' 'GPS' 'GRMN' 'GS' 'GT' 'GWW' 'HAL' 'HAS' 'HBAN' 'HBI'
 'HCA' 'HCN' 'HCP' 'HD' 'HES' 'HIG' 'HII' 'HOG' 'HOLX' 'HON' 'HP' 'HRB'
 'HRL' 'HRS' 'HSIC' 'HST' 'HSY' 'HUM' 'IBM' 'ICE' 'IDXX' 'IFF' 'ILMN'
 'INCY' 'INTC' 'INTU' 'IPG' 'IP' 'IQV' 'IRM' 'IR' 'ISRG' 'ITW' 'IT' 'IVZ'
 'JBHT' 'JCI' 'JEC' 'JNJ' 'JNPR' 'JPM' 'JWN' 'KEY' 'KIM' 'KLAC' 'KMB'
 'KMI' 'KMX' 'KORS' 'KO' 'KR' 'KSS' 'KSU' 'K' 'LB' 'LEG' 'LEN' 'LH' 'LKQ'
 'LLL' 'LLY' 'LMT' 'LNC' 'LNT' 'LOW' 'LRCX' 'LUK' 'LUV' 'LYB' 'L' 'MAA'
 'MAC' 'MAR' 'MAS' 'MAT' 'MA' 'MCD' 'MCHP' 'MCK' 'MCO' 'MDLZ' 'MDT' 'MET'
 'MGM' 'MHK' 'MKC' 'MLM' 'MMC' 'MMM' 'MNST' 'MON' 'MOS' 'MO' 'MPC' 'MRK'
 'MRO' 'MSFT' 'MSI' 'MS' 'MTB' 'MTD' 'MU' 'MYL' 'M' 'NBL' 'NCLH' 'NDAQ'
 'NEE' 'NEM' 'NFLX' 'NFX' 'NI' 'NKE' 'NLSN' 'NOC' 'NOV' 'NRG' 'NSC' 'NTAP'
 'NTRS' 'NUE' 'NVDA' 'NWL' 'NWSA' 'NWS' 'OKE' 'OMC' 'ORCL' 'ORLY' 'OXY'
 'O' 'PAYX' 'PBCT' 'PCAR' 'PCG' 'PCLN' 'PDCO' 'PEG' 'PEP' 'PFE' 'PFG'
 'PGR' 'PG' 'PHM' 'PH' 'PKG' 'PKI' 'PLD' 'PM' 'PNC' 'PNR' 'PNW' 'PPG'
 'PPL' 'PRGO' 'PRU' 'PSA' 'PSX' 'PVH' 'PWR' 'PXD' 'PX' 'QCOM' 'RCL' 'REGN'
 'REG' 'RE' 'RF' 'RHI' 'RHT' 'RJF' 'RL' 'RMD' 'ROK' 'ROP' 'ROST' 'RRC'
 'RSG' 'RTN' 'SBAC' 'SBUX' 'SCG' 'SCHW' 'SEE' 'SHW' 'SIG' 'SJM' 'SLB'
 'SLG' 'SNA' 'SNI' 'SNPS' 'SO' 'SPGI' 'SPG' 'SRCL' 'SRE' 'STI' 'STT' 'STX'
 'STZ' 'SWKS' 'SWK' 'SYK' 'SYMC' 'SYY' 'TAP' 'TDG' 'TEL' 'TGT' 'TIF' 'TJX'
 'TMK' 'TMO' 'TPR' 'TRIP' 'TROW' 'TRV' 'TSCO' 'TSN' 'TSS' 'TWX' 'TXN'
 'TXT' 'T' 'UAA' 'UAL' 'UDR' 'UHS' 'ULTA' 'UNH' 'UNM' 'UNP' 'UPS' 'URI'
 'USB' 'UTX' 'VAR' 'VFC' 'VIAB' 'VLO' 'VMC' 'VNO' 'VRSK' 'VRSN' 'VRTX'
 'VTR' 'VZ' 'V' 'WAT' 'WBA' 'WDC' 'WEC' 'WFC' 'WHR' 'WMB' 'WMT' 'WM' 'WU'
 'WYNN' 'WYN' 'WY' 'XEC' 'XEL' 'XLNX' 'XL' 'XOM' 'XRAY' 'XRX' 'XYL' 'YUM'
 'ZBH' 'ZION' 'ZTS' 'GOOG' 'NAVI' 'INFO' 'SYF' 'CFG' 'QRVO' 'WRK' 'KHC'
 'PYPL' 'HPE' 'HPQ' 'CSRA' 'WLTW' 'UA' 'FTV' 'EVHC' 'HLT' 'DXC' 'BHGE'
 'BHF' 'DWDP' 'APTV']
date :
 ['2014-01-02' '2014-01-03' '2014-01-06' ... '2017-12-27' '2017-12-28'
 '2017-12-29']
open :
 [25.07 79.3828 110.36 ... 261.85 413.8 276.61]
high :
 [25.82 79.5756 111.88 ... 171.6753 152.3124 123.7325]
low :
 [25.06 78.8601 109.29 ... 274.62 13.2946 168.255]
close :
 [  25.36     79.0185  109.74   ... 1737.74    375.96    410.04  ]
volume :
 [ 8998943 58791957   542711 ...  1023624  1261916  1704122]

#### 6. DATASET INFO

In [20]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497472 non-null  object
 3   high    497472 non-null  object
 4   low     497472 non-null  object
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(1), int64(1), object(5)
memory usage: 26.6+ MB

#### 7. LABEL ENCODER
- We use Label Encoder to encode other columns.
- It is used to encode categorical columns into numerical columns.
- If the number of categories is small then we can use this technique.

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()
stock['symbol']=le.fit_transform(stock['symbol'])
stock.head()

   symbol        date     open     high      low     close    volume
0       1  2014-01-02    25.07    25.82    25.06   25.3600   8998943
1       3  2014-01-02  79.3828  79.5756  78.8601   79.0185  58791957
2       2  2014-01-02   110.36   111.88   109.29  109.7400    542711
3       4  2014-01-02    52.12    52.33    51.52   51.9800   4569061
4       5  2014-01-02    70.11    70.23    69.48   69.8900   1148391

#### 8. STANDARD SCALER
- Standard scaler is used to standardize the numerical feature that have mean=0 and standard deviation=1.
- It ensures that each feature contributes equally.
- It helps to prevent features with larger ranges from dominating other features.

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc=StandardScaler()
stock_num=stock.drop(columns='date')
stock_scaled=sc.fit_transform(stock_num)

In [27]:
stock_final=pd.DataFrame(stock_scaled,columns=stock_num.columns,index=stock_num.index)

In [28]:
stock_final.head()

     symbol      open      high       low     close    volume
0 -1.727913 -0.603945 -0.599276 -0.601496 -0.601239  0.576440
1 -1.714198 -0.068685 -0.073863 -0.066544 -0.072439  6.625058
2 -1.721055  0.236599  0.241884  0.236030  0.230318 -0.450782
3 -1.707341 -0.337363 -0.340164 -0.338396 -0.338901  0.038319
4 -1.700483 -0.160070 -0.165207 -0.159814 -0.162400 -0.377207

#### 9. FINAL DATASET

In [30]:
stock_last=pd.concat([stock['date'],stock_final],axis=1)

In [31]:
stock_last.head()

         date    symbol      open      high       low     close    volume
0  2014-01-02 -1.727913 -0.603945 -0.599276 -0.601496 -0.601239  0.576440
1  2014-01-02 -1.714198 -0.068685 -0.073863 -0.066544 -0.072439  6.625058
2  2014-01-02 -1.721055  0.236599  0.241884  0.236030  0.230318 -0.450782
3  2014-01-02 -1.707341 -0.337363 -0.340164 -0.338396 -0.338901  0.038319
4  2014-01-02 -1.700483 -0.160070 -0.165207 -0.159814 -0.162400 -0.377207

In [32]:
stock_last.to_csv('Cleaned Stock Price Dataset.csv',index=False)
print(stock_last)

              date    symbol      open      high       low     close    volume
0       2014-01-02 -1.727913 -0.603945 -0.599276 -0.601496 -0.601239  0.576440
1       2014-01-02 -1.714198 -0.068685 -0.073863 -0.066544 -0.072439  6.625058
2       2014-01-02 -1.721055  0.236599  0.241884  0.236030  0.230318 -0.450782
3       2014-01-02 -1.707341 -0.337363 -0.340164 -0.338396 -0.338901  0.038319
4       2014-01-02 -1.700483 -0.160070 -0.165207 -0.159814 -0.162400 -0.377207
...            ...       ...       ...       ...       ...       ...       ...
497467  2017-12-29  1.693863 -0.175641 -0.179184 -0.175325 -0.179055 -0.389563
497468  2017-12-29  1.700720 -0.036585 -0.043227 -0.039400 -0.046900 -0.353007
497469  2017-12-29  1.707578  0.348849  0.340309  0.348688  0.338032 -0.392363
497470  2017-12-29  1.714435 -0.345642 -0.347788 -0.345455 -0.350234 -0.363417
497471  2017-12-29  1.721292 -0.136023 -0.140479 -0.134359 -0.141212 -0.309700

[497472 rows x 7 columns]